footer {
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }

  .footer-container {
    background-color: #f4f1e0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .footer-link {
    color: #321E1E;
    text-decoration: none;
    transition-duration: 0.2s;
    padding-right: 10px;
    font-weight: bold;
  }

  .footer-link:hover {
    color: #FFA364;
    font-weight: bold;
  }
