.cover-container {
    height: 90vh;
    background-size: cover;
    background-position: center;
  }

  .cover-container h1 {
    z-index: 1;
    font-size: 3rem;
    font-style: normal;
    color: white !important;
    line-height: 1.5em;
    text-shadow: 0 0.15rem 0.1rem rgb(0 0 0 / 50%);
  }

  .home-main {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }