@media (min-width: 1231px) and (max-height: 840px) {
    .grid-item {
      height: 19rem;
      width: 11rem;
    }

    .shop-image {
      height: 11rem;
      width: 11rem;
    }

    .view-more-btn {
      margin: .25rem;
    }

  }