.profile-container {
    min-height: 60vh;
  }

  .profile-heading {
    text-align: center;
  }

  .profile-order-container {
    padding: 0 3rem;
  }

  .profile-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 4rem;
  }

  .update-profile,
  .logout-btn {
    margin-bottom: 0.5rem;
  }